/* Style The Dropdown Button */
.homeButton {
	background-color: #d1a276;
    color: #4f5c5a;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
}

.servicebtn {
    background-color: #d1a276;
    color: #4f5c5a;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.menubtn {
    background-color: #d1a276;
    color: #4f5c5a;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.abtButton {
	background-color: #d1a276;
    color: #4f5c5a;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
}

.contactButton {
	background-color: #d1a276;
    color: #4f5c5a;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.home{
	position: absolute;
    display: inline-block;
}

.services {
    position: absolute;
    display: inline-block;
	margin-left: 80px;
}

.menu {
    position: absolute;
    display: inline-block;
	margin-left: 178px;
}

.about{
	position: absolute;
    display: inline-block;
	margin-left: 255px;
}

.contact{
	position: absolute;
    display: inline-block;
	margin-left: 358px;
}

.nav{
	margin-top: -133px;
	margin-left: 550px;
}

.logo{
	width: 150px;
	margin-top: 32px;
	margin-left: 380px;
}

/* Dropdown Content (Hidden by Default) */
.services-content {

    display: none;
    position: 270px;
    background-color: #4f5c5a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content {
    display: none;
    position: 200px;
    background-color: #4f5c5a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.services-content a {
    color: #d1a276 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menubtn {
	 color: #4f5c5a;
    text-decoration: none;
    display: block;
	

}

.menu-link{
	 color: #4f5c5a;
    text-decoration: none;
    display: block;
	
	
}
.menu-content a {
    color: #d1a276 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.services-content a:hover {background-color: #0A161B}
.menu-content a:hover {background-color: #0A161B}
/* Show the dropdown menu on hover */
.services:hover .services-content {
    display: block;
}
.menu:hover .menu-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.services:hover .servicebtn {
    color: #d1a276 ;
    background-color: #0A161B;
}
.menu:hover .menubtn {
    color: #d1a276 ;
    background-color: #0A161B;
	
}

.menu:hover .menu-link{
	color: #d1a276;
}

.homeButton:hover, .abtButton:hover, .contactButton:hover, .menu-link:hover{
	color: #d1a276 ;
    background-color: #0A161B;

}
.divider {
	position:relative;
	border-top:  1px solid red;
	border-bottom: 1px solid red;
	line-height: 1px;
	font-weight: bold;
	background-color: yellow;
	
}

.rect{
	background-color: #d1a276;
	width:1378px;
	height: 200px;
	margin-top: -20px;
	margin-left: -20px;
	
}



#sandwiches-drinks1{
	font-size: 50px;
	color: #d1a276;
	margin-left: 100px;
	margin-top: 20px;
}



.sandwiches-rec{
	background-color: #0a1618;
	width:500px;
	height: 100px;
	margin-top: -20px;
	margin-left: -10px;
	
}

#imgaztec{
	width: 350px;
	height: 232px;

	
}

.aztec-rec{
	background-color: #d1a276;
	width: 350px;
	height: 100px;	
	margin-top: -20px;
	padding-top: 6px;
}
#aztec-description{
	color: #0a1618;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	
}

.aztec-content{
	margin-top: 50px;
	margin-left: 100px;
	
}

.aztec-line{
	background-color: #cc6a3e;
	height: 5px;
	width: 300px;
	margin-top: -10px;
	margin-left: 20px;
}

#imgbrownie{
	width: 300px;	
	height: 232px;
	margin:auto;
	display: block;
}

#brownie-description{
	color: #0a1618;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
}

.brownie-rec{
	background-color: #d1a276;
	width: 300px;
	height: 102px;
	margin:auto;
	display: block;
	margin-top: -20px;
	padding-top: 6px;
}

.brownie-line{
	background-color: #cc6a3e;
	height: 5px;
	width: 250px;
	margin-top: -35px;
	margin-left: 526px;
}

.brownie-content{
	margin-top: -323px;
	margin-left: 20px;
}

#imgpanini{
	width: 300px;	
	height: 245px;
	margin:auto;
	display: block;
	margin-left: 20px;
}

.img-rec{
	width: 300px;	
	height: 245px;
	margin:auto;
	display: block;
	background-color: white;
}

#panini-description{
	color: #0a1618;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

.panini-rec{
	background-color: #d1a276;
	width: 300px;
	height: 83px;
	margin:auto;
	display: block;
	margin-top: -20px;
	padding-top: 6px;
}

.panini-line{
	background-color: #cc6a3e;
	height: 5px;
	width: 250px;
	margin-top: -35px;
	margin-left: 147px;
}

.panini-content{
	margin-top: -285px;
	margin-left: 780px;
}

#imgham{
	width: 350px;

	
}

.ham-rec{
	background-color: #d1a276;
	width: 350px;
	height: 100px;	
	margin-top: -20px;
	padding-top: 6px;
}
#ham-description{
	color: #0a1618;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	
}

.ham-content{
	margin-top: 60px;
	margin-left: 100px;
	
}

.ham-line{
	background-color: #cc6a3e;
	height: 5px;
	width: 300px;
	margin-top: -35px;
	margin-left: 20px;
}

#imgeclair{
	width: 300px;	
	height: 232px;
	margin:auto;
	display: block;
}

#eclair-description{
	color: #0a1618;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
}

.eclair-rec{
	background-color: #d1a276;
	width: 300px;
	height: 107px;
	margin:auto;
	display: block;
	margin-top: -20px;
	padding-top: 6px;
}

.eclair-line{
	background-color: #cc6a3e;
	height: 5px;
	width: 250px;
	margin-top: -35px;
	margin-left: 315px;
}

.eclair-content{
	margin-top: -295px;
	margin-left: 250px;
}

.move-content{
	margin-left: 200px;
}

body {
	background-color: #4f5c5a;
	margin-top: -20px;
	margin-top: -20px;
	font-family: "Century Gothic", sans-serif;
	
}
